/* styles.css */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  padding-top: 150px;
}

.top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 10px 0;
  background-color: #000;
  box-shadow: 0 2px 6px #181818;
}

.top .logo {
  display: flex;
  justify-content: flex-start;
  margin-left: 2em;
  margin-top: 1em;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1vw;
}

.navbar a {
  text-decoration: none;
  height: 1em;
  padding: 10px 15px;
  margin-left: 2vw;
  color: white;
  cursor: default;
  border-radius: 20px;
  font-size: 1em;
  font-weight: 700;
  transition: background-color 0.3s, color 0.3s ease-out;
}

/* .navbar a.active {
  color: #ffcc00;
} */

.navbar a:hover {
  background-color: #ffcc00;
  color: #000000;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5vh 10vw;
}

/* .left {
  margin: 5vh 0px;
} */

/* #test {
    height: 15em;
} */

/* .logo p {
  font-size: 30px;
  font-weight: bold;
  color: #ffcc00;
  z-index: 88;
} */

h3 {
  margin: 0px;
  font-size: xx-large;
}

p {
  margin: 5vh 0px;
  font-size: x-large;
  color: #ffffff;
}

a {
  text-decoration: none;
}

/* button {
  background-color: #000000;
  color: #ffffff;
  border: 2px solid;
  border-radius: 2em;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
} */
button {
  background-color: #000000;
  text-align: center;
  position: relative;
  width: 13vw;
  color: #ffffff;
  text-decoration: none;
  border-radius: 50vw;
  box-sizing: border-box;
  display: block;
  z-index: 2;
  overflow: hidden;
  padding: 0.2vw;
  height: 9vh;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, ;
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#FFDE59, #FF904D);
  z-index: 1;
  transition: transform 0.3s;
}

button span {
  position: relative;
  z-index: 2;
  font-size: 2.5vh;
  font-weight: 800;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #000000;
  border-radius: 48vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 650px;
  height: 400px;
  background: linear-gradient(#FFDE59, #FF904D);
  border: 2px solid #000000;
  border-radius: 1.6vw;
  margin-left: 10vw;
  padding: 0.1vw;
}

.video_1 {
  width: 640px;
  height: 390px;
  background: rgb(0, 0, 0);
  border: 2px solid #000000;
  border-radius: 1.5vw;
}

.pic_2 {
  background-color: #222222;
  border: 1px solid #ffcc00;
  width: 50vw;
  height: 20vw;
}

.pic {
  width: 300px;
  height: 300px;
  background: linear-gradient(#FFDE59, #FF904D);
  border: 2px solid #000000;
  border-radius: 50%;
}

.section {
  padding: 20px;
  background-color: #000;
}

.section .heading_1 {
  color: #ffcc00;
}

.myself {
  padding: 20px;
  background-color: #000000;
  border-top: 1px solid #ffcc00;
}

.myself h2 {
  color: #ffcc00;
}

.content2 {
  padding: 20px;
  background-color: #000000;
  border-top: 1px solid #ffcc00;
}

.content2 h2 {
  color: #ffcc00;
}

.content3 {
  padding: 20px;
  background-color: #000000;
  border-top: 1px solid #ffcc00;
}

.content3 h1 {
  color: #ffcc00;
}

.day1,
.day2,
.day3 {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.item {
  display: flex;
  align-items: center;
}

.tick {
  background-color: #ffcc00;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.section .text_1 {
  color: #ffffff;
}

.content4 {
  padding: 20px;
  background-color: #000000;
  border-top: 1px solid #ffcc00;
}

.content5 {
  padding: 20px;
  background-color: #000000;
  border-top: 1px solid #ffcc00;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #000000;
  border-top: 1px solid #ffcc00;
}

.bottom-left .logo p {
  font-size: 20px;
  font-weight: bold;
  color: #ffcc00;
}

.bottom-right h3 {
  color: #ffcc00;
}

.social1,
.social2,
.social3,
.social4 {
  background-color: #222222;
  border: 1px solid #ffcc00;
  width: 30px;
  height: 30px;
  margin: 5px 0;
}

#loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: #303134;
  z-index: 9999;
}

#loading-bar {
  height: 100%;
  width: 0%;
  background-color: #ffcc00;
  transition: width 0.2s ease;
}

#loading-percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  color: white;
}
